@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap");
*{
    cursor: url("./nowy.png"), auto;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Texturina', serif;
    color: white;
    cursor: url("./nowy.png"), auto;
}

header{

    margin-left: auto;
    margin-right: auto;
    height: 156px;
}


h1 {
    font-family: 'Texturina', serif;
    font-size: 30px;
    letter-spacing: 3px;
    text-align: center;
}

#wrapper {
    display: flex;
    width: 100%;
    position: sticky;
}

#canvas {
    background-color: rgb(255, 255, 255);
    cursor: url("./nowy.png");
}

#download
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}

#controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: #ff3800;
    border-radius: 20%;
    width: 700px;
    padding: 20px;
}

#widthControl {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 180px;
    
}

.widthExample {
    background-color: black;
    margin: 3px;
    opacity: 0.6;
}

.widthExample:nth-child(1) {
    width: 5px;
    height: 5px;
}

.widthExample:nth-child(2) {
    width: 10px;
    height: 10px;
}

.widthExample:nth-child(3) {
    width: 15px;
    height: 15px;
    opacity: 1;
}

.widthExample:nth-child(4) {
    width: 20px;
    height: 20px;
}

.widthExample:nth-child(5) {
    width: 50px;
    height: 50px;
}

.widthExample:hover {
    cursor: pointer;
    opacity: 1 !important;
}

#palette {
    width: 700px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: row-reverse;

}

.colorSquare {
    margin: 0px 1px 1px 0px;
    width: 39px;
    height: 39px;
    border-radius: 3px;
    transition: all 120ms;
}

.colorSquare:hover {
    transform: scale(1.2);
    cursor: pointer;
    z-index: 1;
}

#counterDiv {
    font-size: 14px;
    text-align: center;
    position: fixed;
    bottom: 5px;
    color: #000;
    border: 3px solid #000;
    padding: 10px;
    border-radius: 20px;
}
.sticky
{
	position: fixed;
	top: 0;
    z-index: 100;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: #ff3800;
    border-radius: 20%;
    padding: 20px;
    border: 4px inset #000;
}

.content{

    align-items: center !important;
    margin-left: auto ;
    margin-right: auto;
    text-align: center;
}
